<nb-layout>
  <nb-layout-header style="display: flex; justify-content: center"
    ><h1>Bảng Character</h1></nb-layout-header
  >
  <nb-layout-column>
    <nb-list fullWidth>
      <nb-list-item>
        <div
          style="
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: solid;
            align-self: center;
          "
        >
          <span style="display: flex"><h3>Character Name</h3></span>

          <span><h3 style="color: rgb(19, 184, 82)">Sex</h3> </span>
          <span><h3 style="color: rgb(233, 219, 22)">Race</h3></span>
          <span><h3 style="color: rgb(216, 18, 34)">Weapon</h3></span>
          <span><nb-icon icon="trash"></nb-icon></span>
        </div>
      </nb-list-item>
      <nb-list-item>
        <div
          style="
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: center;
            margin-top: 5px;
          "
        >
          <span style="display: flex"><h4>Pảo</h4></span>
          <span style="color: rgb(19, 184, 82)"><h4>Gei</h4></span>
          <span style="color: rgb(233, 219, 22)"><h4>Hooman</h4></span>
          <span style="color: rgb(216, 18, 34)"><h4>Stick</h4></span>
          <span><nb-icon icon="trash"></nb-icon></span>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-layout-column>
  <nb-layout-footer>
    <button (click)="openForm()" nbButton>+</button>
  </nb-layout-footer>
</nb-layout>
